<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuma.huaapiinterface.mapper.BadWordsMapper">

    <resultMap id="BaseResultMap" type="com.niuma.huaapiinterface.model.entity.BadWords">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="badWord" column="badWord" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,badWord
    </sql>
    <select id="getRandomBadWords" resultType="java.lang.String">
        select badWord
        from bad_words
        ORDER BY RAND() LIMIT 1;
    </select>
</mapper>
