<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuma.huaapiinterface.mapper.GodWordsMapper">

    <resultMap id="BaseResultMap" type="com.niuma.huaapiinterface.model.entity.GodWords">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="godWord" column="godWord" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,godWord
    </sql>
    <select id="getRandomGodWords" resultType="java.lang.String">
        select godWord
        from god_words
        ORDER BY RAND() LIMIT 1;
    </select>
</mapper>
